<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>DashBord</title>
</head>
<body>
<h3  th:text="${'Welcome - ' + username}"></h3>
<p  th:text="${'You logged in as - ' + roles}"></p>

<p>Click here for logout<a th:href="@{/logout}">Logout</a></p>
<p>Back to <a th:href="@{/home}">Home</a></p>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <p>Click to see the Messages <a th:href="@{/displayMessages}"> Here! </a></p>
</div>
</body>
</html>